@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@400;500;700&display=swap');

body {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

.text_small {
  font-size: var(--text-size-sm);
}
.text_large {
  font-size: var(--text-size-lg);
}
.text_medium {
  font-size: var(--text-size-md);
}
.section_heading {
  font-size: var(--text-size-md);
  font-family: 'Bebas Neue', cursive;
  line-height: 150%;
}

.section_description, .paragraph {
  font-size: var(--text-size-default);
  line-height: 150%;
}

@media(min-width: 769px){
  body {
    font-size: 18px;
    font-family: 'Karla', sans-serif;
  }
}